# Ignore bundler config
.*
.bundle
.DS_Store
*~
*.out
*.lock
*.sql
*.tar
*.rar
*.tar.gz
.*.swp
.git*

# Ignore the default SQLite database.
/config/*.yml
/config/*.yaml
/db/*.sqlite3
/db/db.bak/*

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/vendor
/script
/public
/backup
