# Ignore bundler config

lib/tasks/devise_changed.rake
# Ignore the default SQLite database.
config/*.yml
config/*.yaml
# Ignore all logfiles and tempfiles.
#db/
app/assets/images/gravatar
/doc/
/log/
/tmp/
/vendor/
/script/
/public/
/backup/
/db

# files
.*
.bundle
.DS_Store
*~
*.out
*.sql
*.tar
*.rar
*.tar.gz
.*.swp
.git*
