# Ignore bundler config

lib/tasks/devise_changed.rake
# Ignore the default SQLite database.
config/*.yml
config/*.yaml
# Ignore all logfiles and tempfiles.
db/
doc/
log/
tmp/
vendor/
script/
public/
backup/

# files
.*
.bundle
.DS_Store
*~
*.out
*.lock
*.sql
*.tar
*.rar
*.tar.gz
.*.swp
.git*
