.list-group-item.active.row{style: "margin:0px;padding:0px;"}
  .col-sm-12{style: "margin:0px;padding:0px;"}
    %form.navbar-form.navbar-left{role: "search", action: "/users/search", method: "get", "data-remote" => true}
      .form-group
        %input.form-control{:placeholder => "Search", :type => "text", :name => "keyword"}
      %button.btn.btn-default{:type => "submit"} Submit

.search_result
