- @users.each do |user| 
  - next if user == current_user
  .list-group-item
    %span= user.email
    %a.btn.btn-default.btn-xs{href: "#{group_user_path(user)}", style: "float: right;", "data-remote" => true} 共享

- if @users.empty?
  %a.list-group-item{:href => "javascript:void(0);"} 匹配#{params[:keyword]}结果为零
