%header.navbar.navbar-fixed-top{:role => "banner"}
  .container
    %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
      %i.iconfont.prag-list
    %a.brand{:href => "/", :tabindex => "-1"} 风车
    %nav.nav-collapse.collapse{:role => "navigation"}
      %ul.nav.pull-right
        %li.active
          %a{:href => "/"} 首页
        %li
          %a{:href => "/tour"} 了解产品
        %li
          %a.login{"data-target" => "#login-modal", "data-toggle" => "modal", :href => "#login-modal", :role => "button", :type => "button"} 登录
        %li.action
          %a.signup{:href => "#"} 免费注册
