defaults: &defaults
  title: "爱记录"
  slogan: "爱生活"
  team: "爱记录"
  favicon: "http://solife-images.u.qiniudn.com/favicon.so.ico"
  domain: "consume.solife.us"
  contact: "jay_li@solife.us"
  admin_emails: "jay_li@solife.us"
  devise:
    email: "jay_li@solife.us"
    address: "smtp.ym.163.com"
    port: 25,
    user_name: "jay_li@solife.us"
    domain: "solife.us"
    password: "password"
    authentication: "login"
  exception:
    receiver: 
      - "receiver1@domain.com"
      - "receiver2@domain.com"
  database:
    mysql:
      user: "root"
      password: "password"
      dbname: "consume_development"
  qiniu:
    bucket: "consume-db"
    access_key: 'access-key'
    secret_key: 'secret-key'
    out_link: "http://bucket.qiniudn.com"
  mobile:
    os:
      android:
        version: "0.3"
        describtion: "consume.solife.us"
        url: "http://solife-apk.qiniudn.com/iconsumes-0.3.apk"
  server:
    host: "solife.us"
    user: "deploy"
    password: "password"
    app_path: "/home/work/consume"

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
