defaults: &defaults
  title: "爱记录"
  slogan: "爱生活"
  team: "爱记录"
  favicon: "/assets/favicon.so.ico"
  domain: "solife.us"
  contact: "contact@me.com"
  admin_emails: "admin@email.com"
  cdn:
    bootstrap:
      v303:
        js: "http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"
        css: "http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
      v320:
        js: "http://cdn.bootcss.com/twitter-bootstrap/3.2.0/js/bootstrap.min.js"
        css: "http://cdn.bootcss.com/twitter-bootstrap/3.2.0/css/bootstrap.min.css"
  devise:
    email: "your-email"
    address: "smtp-email"
    port: 25,
    user_name: "your-email"
    domain: "solife.us"
    password: "email-password"
    authentication: "login"
  database:
    mysql:
      user: "root"
      password: "password"
      dbname: "db-name"
  qiniu:
    bucket: "bucket-name"
    access_key: 'qiniu-access-key'
    secret_key: 'qiniu-secret-key'
    out_link: "http://bucket-name.qiniudn.com"
  mobile:
    os:
      android:
        version: "0.1.c"
        describtion: "consume.solife.us"
        url: "http://solife-apk.qiniudn.com/iconsumes-0.1.c.apk"
  server:
    host: "host.com"
    user: "username"
    password: "pwd"
    path:
      app_root_path: "/home/work/consume"

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
