.row.hidden
  %label.checkbox-inline{style: "float: right;"}
    %input{type: "checkbox", value: "option", onclick: "Tags.toggleShow(this, '.tag-operation');"} 
    = t("operation")

.row.tags-list.hidden.alert.alert-success
  %table.table-condensed{style: "width:100%;"}
    %thead
      %tr
        %th 标签 
        %th.center.no-padding 类型
        %th.tag-operation.hidden.center{colspan: "2"}
          = t("operation")
    %tbody
      - @tags.each do |tag|
        = render partial: "tags/tag", locals: { tag: tag } 

  - link_to 'New Tag', new_tag_path
