/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * require_tree .
 *
 *= require_self
 *  require bootstrap
 *= require tag-it
 *= require tag-it-theme
 *= require home
 * require will_paginate
 */

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}
/* Fix for IE 6: */
/* line 56, ../../../../../.rvm/gems/ruby-2.0.0-p451/gems/jquery-fileupload-rails-0.4.1/vendor/assets/stylesheets/jquery.fileupload-ui.scss */
* html .fileinput-button {
  line-height: 22px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
/* line 62, ../../../../../.rvm/gems/ruby-2.0.0-p451/gems/jquery-fileupload-rails-0.4.1/vendor/assets/stylesheets/jquery.fileupload-ui.scss */
* + html .fileinput-button {
  margin: 1px 0 0 0;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.no-padding {
  padding: 0px 0px 0px 0px;
}
.no-margin {
  margin: 0px 0px 0px 0px;
}
/*加载中...样式*/
.loading {
  position: absolute;
  visibility: visible;
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  left: 47%;
  top: 300px;
  z-index: 1000;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  background-color: black;
  color: white;
  text-align: center;
  max-width: 200px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 5px 5px 6px 6px;
  -moz-border-radius: 5px 5px 6px 6px;
  border-radius: 5px 5px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.inline { display: inline; }

/*devise form*/
.help-inline { color: red; }
.form-input {
  color: #565656;
  height: 53px;
  padding: 0px 15px;
  border: none;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  margin-bottom: 5px;
  border-radius: 5px;
}

@font-face {
    font-family: "zapfino";
    src: url('http://solfie-cdn.qiniudn.com/ZapfinoForteLTPro.otf') format('truetype');
    //src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
    //     url('websymbols/websymbols-regular-webfont.woff') format('woff'),
    //     url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
    //     url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: inherit;
    font-style: inherit;
}
@font-face {
    font-family: "hangshu";
    src: url('http://solfie-cdn.qiniudn.com/DeBiaoGangbiHangshu.otf') format('truetype');
    font-weight: inherit;
    font-style: inherit;
}

.zapfino {
  font-family: "zapfino";
}
.hangshu {
  font-family: "hangshu";
}
#footer {
    width: 100%;
    text-align: center;
    min-height: 40px;
    height: 40px;
    padding-top: 15px;
}
.right
.float-right { float: right; }
.text-left { text-align: left }
.text-right { text-align: right }
.text-center { text-align: center }
.inner-main { 
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
}

div .pagination:first {
  width:100%;
}
a:hover {
  cursor: pointer;
}
