/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * require_tree .
 *
 *= require_self
 *= require home_without_login 
 *= require bootstrap.v320
 *= require tag-it
 *= require tag-it-theme
 *= require bootstrapValidator.min
 *= require bootstrap-datetimepicker.min
 * require will_paginate
 */

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}
/* Fix for IE 6: */
/* line 56, ../../../../../.rvm/gems/ruby-2.0.0-p451/gems/jquery-fileupload-rails-0.4.1/vendor/assets/stylesheets/jquery.fileupload-ui.scss */
* html .fileinput-button {
  line-height: 22px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
/* line 62, ../../../../../.rvm/gems/ruby-2.0.0-p451/gems/jquery-fileupload-rails-0.4.1/vendor/assets/stylesheets/jquery.fileupload-ui.scss */
* + html .fileinput-button {
  margin: 1px 0 0 0;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.no-padding {
  padding: 0px 0px 0px 0px;
}
.no-margin {
  margin: 0px 0px 0px 0px;
}
/*加载中...样式*/
.loading {
  position: absolute;
  visibility: visible;
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  left: 47%;
  top: 300px;
  z-index: 1000;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  background-color: black;
  color: white;
  text-align: center;
  max-width: 200px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 5px 5px 6px 6px;
  -moz-border-radius: 5px 5px 6px 6px;
  border-radius: 5px 5px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.inline { display: inline; }

/*devise form*/
.help-inline { color: red; }
.form-input {
  color: #565656;
  height: 53px;
  padding: 0px 15px;
  border: none;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  margin-bottom: 5px;
  border-radius: 5px;
}

@font-face {
    font-family: "zapfino";
    src: url('http://solfie-cdn.qiniudn.com/ZapfinoForteLTPro.otf') format('truetype');
    //src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
    //     url('websymbols/websymbols-regular-webfont.woff') format('woff'),
    //     url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
    //     url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: inherit;
    font-style: inherit;
}
@font-face {
    font-family: "hangshu";
    src: url('http://solfie-cdn.qiniudn.com/DeBiaoGangbiHangshu.otf') format('truetype');
    font-weight: inherit;
    font-style: inherit;
}

.zapfino {
  font-family: "zapfino";
}
.hangshu {
  font-family: "hangshu";
}
#footer {
    width: 100%;
    text-align: center;
    min-height: 40px;
    height: 40px;
    padding-top: 15px;
}
.right
.float-right { float: right; }
.text-left { text-align: left }
.text-right { text-align: right }
.text-center { text-align: center }
.inner-main { 
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
}

div .pagination:first {
  width:100%;
}
a:hover {
  cursor: pointer;
}

// bootstrap font-face
@font-face {
    font-family:'Glyphicons Halflings';
    src:url(/assets/fonts/glyphicons-halflings-regular.eot);
    src:url(/assets/fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/glyphicons-halflings-regular.woff) format("woff"),url(/assets/fonts/glyphicons-halflings-regular.ttf) format("truetype"),url(/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg")
}

.error-page {
  h1 {
    span {
      font-weight: bold;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
  }
  p {
    text-align: left;
  }
  .error-url {
    text-shadow: 0 0 4px #FFFFFF, 0 -5px 4px #FFFF33, 2px -10px 6px #FFDD33, 2px -15px 11px #FF8800, 2px -25px 18px #FF2200;
  }
  .error-title {
      font-size: 0;
      margin: 40px auto;
      text-align: center;
  }
  .error-type {
      color: #555555;
      display: block;
      font-size: 16px;
      line-height: 20px;
  }
  .center {
      text-align: center;
  }
  .text-3d-left, .text-3d-center, .text-3d-right {
      display: inline-block;
      font-size: 240px;
      line-height: 240px;
  }
  .text-3d-left {
      color: #FFFFFF;
      text-shadow: 0.7px 1px 0 #D1D1D1, 1.4px 2px 0 #CACACA, 2.1px 3px 0 #C3C3C3, 2.8px 4px 0 #BCBCBC, 3.5px 5px 0 #B5B5B5, 4.2px 6px 0 #AEAEAE, 4.9px 7px 0 #A7A7A7, 5.6px 8px 0 #A0A0A0, 6.3px 9px 0 #999999, 7px 10px 0 #929292, 7.7px 11px 0 #8B8B8B, 8.4px 12px 0 #848484, 9.1px 13px 0 #7D7D7D, 9.8px 14px 0 #767676, 10.5px 15px 0 #6F6F6F, 11.2px 16px 0 #686868, 11.9px 17px 0 #616161, 12.6px 18px 0 #5A5A5A, 13.3px 19px 0 #535353, 14px 20px 0 #4C4C4C, 14.7px 21px 20px #001135;
      transform: rotate(-2deg);
  }
  .text-3d-center {
      color: #FFFFFF;
      font-size: 245px;
      margin: 0 20px;
      text-shadow: 0 1px 0 #D1D1D1, 0 2px 0 #CBCBCB, 0 3px 0 #C5C5C5, 0 4px 0 #BFBFBF, 0 5px 0 #B9B9B9, 0 6px 0 #B3B3B3, 0 7px 0 #ADADAD, 0 8px 0 #A7A7A7, 0 9px 0 #A1A1A1, 0 10px 0 #9B9B9B, 0 11px 0 #959595, 0 12px 0 #8E8E8E, 0 13px 0 #888888, 0 14px 0 #828282, 0 15px 0 #7C7C7C, 0 16px 0 #767676, 0 17px 0 #707070, 0 18px 0 #6A6A6A, 0 19px 0 #646464, 0 20px 0 #5E5E5E, 0 21px 0 #585858, 0 22px 0 #525252, 0 23px 0 #4C4C4C, 0 24px 23px #001135;
      transform: translateY(-12px);
  }
  .text-3d-right {
      color: #FFFFFF;
      text-shadow: -0.7px 1px 0 #D1D1D1, -1.4px 2px 0 #CACACA, -2.1px 3px 0 #C3C3C3, -2.8px 4px 0 #BCBCBC, -3.5px 5px 0 #B5B5B5, -4.2px 6px 0 #AEAEAE, -4.9px 7px 0 #A7A7A7, -5.6px 8px 0 #A0A0A0, -6.3px 9px 0 #999999, -7px 10px 0 #929292, -7.7px 11px 0 #8B8B8B, -8.4px 12px 0 #848484, -9.1px 13px 0 #7D7D7D, -9.8px 14px 0 #767676, -10.5px 15px 0 #6F6F6F, -11.2px 16px 0 #686868, -11.9px 17px 0 #616161, -12.6px 18px 0 #5A5A5A, -13.3px 19px 0 #535353, -14px 20px 0 #4C4C4C, -14.7px 21px 20px #001135;
      transform: rotate(2deg);
  }
}

