%nav.navbar.navbar-default{role: "navigation", style:"margin-bottom:10px;"}
  .container
    .row
      %div{class: "col-sm-12", style: "padding-left:0px;"}
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.navbar-brand-bg{href: "/", tabindex: "-1"}
            %span.hangshu{style: "color: white;"} &nbsp;
        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse{role: "navigation", id:"bs-example-navbar-collapse-1"}
          %ul.nav.navbar-nav.navbar-right
            - unless current_user
              %li 
                %a{:href => "/users/sign_in"} 登陆

            - else
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  设置
                  %b.caret
                %ul.dropdown-menu
                  %li.hidden
                    %a{:href => "/users/edit"}
                      %i.glyphicon.glyphicon-user
                      账户设置
                  - if current_user && current_user.admin?
                    %li
                      %a{:href => "/cpanel"}
                        %i.glyphicon.glyphicon-wrench
                        后台管理
                  %li.divider
                  %li
                    = link_to destroy_user_session_path, method: :delete do
                      %i.glyphicon.glyphicon-log-out
                      退出
